.App {
  text-align: center;
}


/*NAVBAR STYLING*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
}
.links {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}
