.App {
  text-align: center;
}


/*NAVBAR STYLING*/
nav {
  display: flex;  
  justify-content: space-between;
  background-color: #27282D;
  padding: 2vw 5vw 2vw;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 0.75vw solid #3AA2C2;
  z-index: 1000;
}
.links {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}
.links a {
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
}
#drop-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#drop-menu img {
  max-width: 50px;
  padding-right: 1vw;
}
#drop-menu label {
  color: white;
  padding-right: 1vw;
}


/*HEADER STYLING*/
#header {
  padding: 50px;
}

/*PROJECTS STYLING*/
#projects {
  padding: 50px;
  background-color: gray;
  text-align: left;
}
img {
  margin-left: auto;
  margin-right: auto;
}

/*TOOLS STYLING*/
#tools {
  padding: 50px;
  text-align: left;  
  
}
#tools-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
    
}
#tools img {
  width: 50px;
  margin: 0;
}

/*ABOUT STYLING*/
#about {
  padding: 50px;
  text-align: left;
  background-color: gray;
}

/*CONTACT STYLING*/
#contact {
  padding: 50px;
}
#contact > h1 {
  text-align: left;
}

/*FOOTER STYLING*/
#footer {
  background-color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
  padding-right: 50px;
  padding-left: 50px;  
}

